//some basic settings
html {
    font-family: $kalam;
    font-size: 20px;
}
body {
    margin: 0 auto; 
    max-width: 1600px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
    width:100%;
    max-width:100%;
}
button {
    display: block;
    border:none;
    border-radius:1.9rem;
    background:linear-gradient(to bottom, $persianred 5%, $burntorange 100%);
    color:white;
    font-weight: bold;
    &:active {
        position: relative;
        top:2px;
        box-shadow: 0px 8px 8px -1px $deeporange;
    }
    //I used the code from https://codepen.io/a_noodles/pen/avXjZb and tweaked some values to make a shake animation for scroll down button pseudo class selector
    &:hover,
    &:focus {
        animation: shake 0.9s ease-out both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
        }
        @keyframes shake {
        10%, 90% {
            transform: translate3d(-3px, 2px, 0) rotate(3deg);
        }
        20%, 80% {
            transform: translate3d(3px, -2px, 0) rotate(-3deg);
        }
        30%, 50%, 70% {
            transform: translate3d(-2px, 1px, 0) rotate(2deg);
        }
        40%, 60% {
            transform: translate3d(2px, -1px, 0) rotate(-2deg);
        }
    }
}
//header starts
header {
    height:56.25vw;
    max-height: 900px;
    padding-top: 20%;
    background: linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 0, 0, 0.12)), url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}
h1 {
    margin:0 auto;
    text-align: center;
    font-family: $marker;
    font-size: 5rem;
    text-transform: uppercase;
    color:$brickred;
}
button.scroll-down {
    width:27%;
    margin:3rem auto 0;
    padding: 1.1rem 1rem;
    box-shadow: 0px 14px 12px -7px $deeporange;
    font-size: 1.5rem;
}
//main starts
main {
    padding-bottom: 3rem;
    position: relative;
    color:white;
}
//specify the canvas type and style it with an id selector following the documentation of granim.js
#canvas-basic {
    position: absolute;
    display: block;
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
//quiz question begins 
.notice,
.result-wrapper .flex-wrapper,
.result-wrapper .page-link,
.preference {
    width:66%;
    margin: 0 auto;
}
.preference {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: left;
}
.preference .flex-wrapper {
    margin-top: 2rem;
}
.preference h2 {
    font-size: 2rem;
    color: $sealbrown;
}
label {
    width:40%;
    position: relative;
    text-align: left;
    font-size: 1.5rem;
    &::before {
        content:"";
        width: 40px;
        height: 40px;
        position: absolute;
        right:0;
        top:0;
        border-radius: 50%;
        background-color:$brickred;
        transition: background-color 0.5s;
    }
    &::after {
        content:"";
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        right: 6px;
        top:6px;
        background:white;        
        transition: opacity 0.5s;
    }
}

label::after,
input[type="radio"] {
    opacity: 0;
}
input[type="radio"] {
    position: absolute;
}
[type="radio"]:checked +label::after,
[type="radio"]:active+label::after {
    opacity:0.9;
}
label:hover::after,
[type="radio"]:focus+label::after {
    opacity:0.4;
}
label:hover::before,
[type="radio"]:focus+label::before,
[type="radio"]:active +label::before {
    background-color: $neoncarrot;
}
main button {
    width:35%;
    margin: 2.6rem auto 3.5rem;
    box-shadow: 0px 12px 10px -4px  $deeporange;
    font-size: 1.2rem;
    padding:0.7rem 0.8rem;
}
//result part starts
.result-wrapper,
.notice-wrapper {
    padding:2rem 0;
    background-color: rgba(253, 246, 142, 0.188);
    text-align: center;
}
//notice 
.notice {
    color:$sealbrown;
    font-size: 1.5rem;
}
//recipe results
.result-wrapper .flex-wrapper {
    flex-wrap: wrap;
    text-align: left;
}
.recipe-name {
    display:inline-block;
    width:88%;
    color:$persianred;
    font-size: 2rem;
}
.result-wrapper .image-wrapper {
    width:27%;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}
.image-wrapper:hover {
    img {
        opacity: 0.2;
    }
    .info {
        opacity: 1;
    }
    .number-info {
        margin-top: 0;
    }
    .time-info {
        margin-top: 4%;
    }
}
.recipe-image img {
    border-radius: 50%;
    box-shadow: 0px 2px 5px -2px $sealbrown;
}
//I learned how to add hover affects -- the information about recipe will slide in separately from the top and the bottom of the recipe picture from https://codepen.io/hans/pen/hanBu
.image-wrapper .info {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:40%;
    text-align:center;
    font-size:1.35rem;
    font-weight:bold;
    color:$sealbrown;
    opacity:0;
}
.info .number-info, .info .time-info {
    display:block;
    transition: all 0.7s;
}
.info .number-info {
    margin-top: -100%;
}
.info .time-info {
    margin-top: 199%;
}
.cooking-step,
.cooking-step-special {
    line-height: 1.4;
}
.result-wrapper .cooking-step {
    width: 45%;
}
//since some recipes have odd number of cooking steps, I add a different class to the last step of these recipes and style such last step of cooking method differently
.result-wrapper span.method-order,
.result-wrapper .cooking-step-special {
    text-align: center;
}
.result-wrapper .cooking-step-special {
    width: 100%;
}
.result-wrapper span.method-order {
    display: block;
    width: 70%;
    margin: 0.5rem auto;
    font-size:1.7rem; 
    font-weight: bold;
    color:$sealbrown;
}
.result-wrapper .page-link {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    padding-top: 1.1rem;
    border-top: 3px solid $burntorange;
    font-size: 1.5rem;
}
.page-link a {
    text-decoration: none;
    color:$persianred;
    transform: all 0.5s;
    &:hover,
    &:focus,
    &:active{
        border-bottom:1px solid $burntorange;
    }
}
//footer
.attribution {
    padding:0.5rem 0;
    background: $sealbrown;
    color:white;
    text-align: center;
    font-weight: 300;
    font-size:0.9rem;
    letter-spacing: 0.05rem;
}
footer a {
    color:inherit;
    text-decoration: none;
    transition: color 0.6s;
    &:hover,
    &:focus,
    &:active {
        color:$neoncarrot;
    }
}
//responsiveness begins
@media (max-width:1430px) {
    header {
        padding-top: 18%;
        height: 50vw;
    }
    h1 {
        font-size: 4.5rem;
    }
    .image-wrapper .info {
        top:35%;
    }
}
@media (max-width:1280px) {
    header {
        padding-top: 15%;
    }
    h1 {
        font-size: 4rem;
    }
    button.scroll-down {
        margin-top: 1.5rem;
        padding:0.8rem 0.6rem;
    }
    .preference,
    .notice,
    .result-wrapper .flex-wrapper,
    .result-wrapper .page-link  {
        width:74%;
    }
    .preference h2 {
        font-size: 1.7rem;
    }
    label {
        font-size: 1.32rem;
        &::before {
            width: 36px;
            height: 36px;
        }
        &::after {
            width:24px;
            height: 24px;
        }
    }
    .notice {
        font-size: 1.25rem;
    }
    .result-wrapper .image-wrapper {
        width:24%;
    }
    .image-wrapper .info {
        top:30%;
    }
}
@media (max-width:1130px) {
    header {
        height: 100vh;
        max-height: 800px;
        min-height: 530px;
        padding-top: 21%;
        background-position: 25% 85%;
    }
    h1 {
        font-size: 3.8rem;
    }
}
@media (max-width:1000px) {
    header {
        padding-top: 25%;
    }
    h1 {
        font-size: 3.5rem;
    }
    button.scroll-down {
        margin-top: 1rem;
    }
    .preference h2 {
        font-size: 1.45rem;
    }
    label {
        width: 45%;
        font-size: 1.15rem;
    }
    .notice span {
        display: inline-block;
        width:100%;
    }
    .image-wrapper .info {
        font-size: 1.1rem;
    }
}
@media (max-width:950px) {
    button.scroll-down {
        padding:0.6rem 0.3rem;
        font-size: 1.2rem;
    }
    .preference {
        padding-top: 1.5rem;
    }
    .result-wrapper .image-wrapper {
        width:30%;
    }
    .image-wrapper .info {
        top:35%;
    }
    .reset {
        margin-bottom: 1.5rem;
    }
}
@media(max-width:900px) {
    h1 {
        line-height: 1.2;
    }
    h1 span {
        display: inline-block;
        width:80%;
    }
    button.scroll-down {
        width:36%;
    }
    .image-wrapper .info {
        top:30%;
    }
}
@media  (max-width:780px) {
    .preference .flex-wrapper {
        flex-wrap: wrap;
    }
    label {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    main button {
        width:45%;
    }
    .result-wrapper .image-wrapper {
        width:40%;
    }
    .image-wrapper .info {
        font-size: 1.32rem;
    }
    .result-wrapper .cooking-step {
        width:100%;
        border-top: 2px dotted $burntorange;
    }
    .result-wrapper span.method-order {
        margin:1rem auto 0.1rem;
    }
}
@media (max-width:550px) {
    header {
        max-height: 600px;
        padding-top: 33%;
    }
    button.scroll-down {
        width:45%;
    }
    .result-wrapper .image-wrapper {
        width:55%;
    }
}
@media (max-width:450px) {
    header {
        padding-top: 43%;
    }
    h1 {
        font-size: 3rem;
    }
    .cooking-step,
    .cooking-step-special {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    button.scroll-down,
    main button {
        width: 55%;
    }
    .recipe-name {
        font-size: inherit;
    }
    .result-wrapper .image-wrapper {
        width:70%;
    }
    .cooking-step,
    .cooking-step-special {
        line-height: 1.2;
    }
    .attribution {
        letter-spacing: 0.01rem;
    }
}
@media (max-width:360px) {
    header{
    padding-top: 50%;
    }
    button.scroll-down,
    main button {
        width: 65%;
    }
    .preference,
    .notice,
    .result-wrapper .flex-wrapper,
    .result-wrapper .page-link  {
        width:80%;
    }
    .image-wrapper .info {
        font-size:1.1rem;
    }
}