html {
  /* initializng fonts */
    font-family: $kalam;
    font-size: 20px;
}
body {
    margin: 0 auto; 
    max-width: 1600px;
}
.flexWrapper {
    padding:0;
    margin:0;
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
    width:100%;
    max-width:100%;
}
button {
    display: block;
    border:none;
    border-radius:1.9rem;
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    // background-color:#e4685d;
    color:white;
    //inspired by the code from https://codepen.io/a_noodles/pen/avXjZb, I tweaked some values in the code to make a shake animation for scroll down button hover selector
    &:hover {
        animation: shake 0.9s ease-out both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
        }
    

        @keyframes shake {
        10%, 90% {
            transform: translate3d(-3px, 2px, 0) rotate(3deg);
        }
        20%, 80% {
            transform: translate3d(3px, -2px, 0) rotate(-3deg);
        }
        30%, 50%, 70% {
            transform: translate3d(-2px, 1px, 0) rotate(2deg);
        }
        40%, 60% {
            transform: translate3d(2px, -1px, 0) rotate(-2deg);
        }
    }
}

//header

header {
    height: 100vh;
    padding-top: 11rem;
    background: linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 0, 0, 0.12)), url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: 70% 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    margin:0 auto;
    font-family: $marker;
    font-size: 4rem;
    text-transform: uppercase;
    color:$brickred;
}
button.scrollDown {
    width:27%;
    margin:2rem auto;
    box-shadow: 0px 17px 14px -7px #e67a73;
    
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.1rem 1rem;
    
}

//main starts
main {
    padding-bottom: 3rem;
    background-image: linear-gradient(to left bottom, #ebbe85, #f3b282, #f9a683, #fd9989, #fd8e93, #fd8a9e, #fb87aa, #f686b7, #f48ac4, #f18fd2, #ec94df, #e59aec);
    color:white;
}
.preference {
    width:66%;
    margin:  0  17% 0 calc(34% / 2 - 42px );
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}
.preference .flexWrapper {
    margin-top: 2rem;
}
.preference h2 {
    font-size: 1.6rem;
    color: $berrypurple;
}
label {
    width:40%;
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    &:before {
        content:"";
        position: absolute;
        right: -42px;
        top:0;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        background-color:$brickred;
        border-radius: 50%;
        transition: background-color 0.5s;
        &:hover {
            background-color:pink;
        }
    }
    &:after{
        content:"";
        position: absolute;
        right: -36px;
        top:6px;
        width: 28px;
        height: 28px;
        opacity: 0;
        background:white;
        border-radius: 50%;
        transition: opacity 0.5s;
    }
}
label:hover::after {
    opacity:0.5;
}
[type="radio"]:checked +label::after {
    opacity:0.8;
}
input[type="radio"] {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
    
}
[type="radio"]:focus+label::before,
[type="radio"]:active +label::before {
    background: #ED6B55;
}

main button {
    width:35%;
    margin: 3rem auto;
    box-shadow: 0px 12px 10px -4px  #77253a;
    font-size: 1.2rem;
    font-weight: bold;
    padding:0.7rem 0.8rem;
    &:active {
        position: relative;
        top:2px;
        box-shadow: 0px 8px 8px -1px #6d2f3f;
    }
}

//result
.resultWrapper {
    padding:1rem 5rem 2rem;
    background-color: rgba(247, 238, 118, 0.288);
    text-align: center;
}
// .resultWrapper .flexWrapper,
// .resultWrapper .pageLink {
//     width:80%;
// }
.resultWrapper .flexWrapper{
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
    line-height: 1.2;
    font-size: 0.9rem;
}
.resultWrapper .imageWrapper {
    width:30%;
    // display: block;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}
.imageWrapper:hover {
        img {
            opacity: 0.2;
        }
        .info {
            opacity: 1;
        }
        .numberInfo {

        
        left:0;
        margin-top: 0;
        }
        .timeInfo{
            margin-top: 4%;
        }
        // .timeInfo{
        // left:0;
        // margin-top: 0;
        // }
}

.resultWrapper .recipeImage {
    width:100%;
    // margin: 1rem auto;
}
.recipeImage img {
    border-radius: 50%;
    box-shadow: 0px 2px 5px -2px $berrypurple;
}
//I learned how to add hover affects to show the information about recipe from https://codepen.io/hans/pen/hanBu

.imageWrapper .info{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:30%;
    text-align:center;
    font-size:1rem;
    font-weight:bold;
    color:$berrypurple;
    opacity:0;
}
.info .numberInfo, .info .timeInfo {
    display:block;

    transition: all 0.7s;
}
.info .numberInfo {
    // margin-left:0;
    margin-top: -100%;
}
.info .timeInfo {
    margin-top: 199%;
}

.resultWrapper .cookingStep {
    width: 45%;
}
.resultWrapper .cookingStepSpecial {
    width: 100%;
}
.resultWrapper span.methodOrder {
    display: block;
    width: 20%;
    margin: 0.5rem auto;
    font-size:1.7rem; 
    font-weight: bold;
    color:$berrypurple;
    text-align: center;
}
.resultWrapper .pageLink{
    margin-top: 2rem;
    font-size: 1.25rem;

}
.pageLink a{
    text-decoration: none;
    color:inherit;
    text-align: left;
    transform: all 0.5s;
    &:hover{
        padding-bottom:0.3rem;
        border-bottom:1px solid $berrypurple;
    }
}
//footer
.attribution {
    padding:0.5rem 0;
    background: $berrypurple;
    color:white;
    text-align: center;
    font-weight: 300;
    font-size:0.9rem;
    letter-spacing: 0.05rem;
}