article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-family: "Kalam", cursive;
  font-size: 20px; }

body {
  margin: 0 auto;
  max-width: 1600px; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

button {
  display: block;
  border: none;
  border-radius: 1.9rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #d13e33), to(#d45113));
  background: -webkit-linear-gradient(top, #d13e33 5%, #d45113 100%);
  background: -o-linear-gradient(top, #d13e33 5%, #d45113 100%);
  background: linear-gradient(to bottom, #d13e33 5%, #d45113 100%);
  color: white;
  font-weight: bold; }
  button:active {
    position: relative;
    top: 2px;
    -webkit-box-shadow: 0px 8px 8px -1px #81310c;
    box-shadow: 0px 8px 8px -1px #81310c; }
  button:hover, button:focus {
    -webkit-animation: shake 0.9s ease-out both;
    animation: shake 0.9s ease-out both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000px;
    perspective: 1000px; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-3px, 2px, 0) rotate(3deg);
    transform: translate3d(-3px, 2px, 0) rotate(3deg); }
  20%, 80% {
    -webkit-transform: translate3d(3px, -2px, 0) rotate(-3deg);
    transform: translate3d(3px, -2px, 0) rotate(-3deg); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 1px, 0) rotate(2deg);
    transform: translate3d(-2px, 1px, 0) rotate(2deg); }
  40%, 60% {
    -webkit-transform: translate3d(2px, -1px, 0) rotate(-2deg);
    transform: translate3d(2px, -1px, 0) rotate(-2deg); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-3px, 2px, 0) rotate(3deg);
    transform: translate3d(-3px, 2px, 0) rotate(3deg); }
  20%, 80% {
    -webkit-transform: translate3d(3px, -2px, 0) rotate(-3deg);
    transform: translate3d(3px, -2px, 0) rotate(-3deg); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 1px, 0) rotate(2deg);
    transform: translate3d(-2px, 1px, 0) rotate(2deg); }
  40%, 60% {
    -webkit-transform: translate3d(2px, -1px, 0) rotate(-2deg);
    transform: translate3d(2px, -1px, 0) rotate(-2deg); } }

header {
  height: 56.25vw;
  padding-top: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 0.1)), to(rgba(255, 0, 0, 0.12))), url("../assets/background.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 0, 0, 0.12)), url("../assets/background.jpg");
  background: -o-linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 0, 0, 0.12)), url("../assets/background.jpg");
  background: linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 0, 0, 0.12)), url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover; }

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
  text-transform: uppercase;
  color: #993300; }

button.scroll-down {
  width: 27%;
  margin: 3rem auto 0;
  padding: 1.1rem 1rem;
  -webkit-box-shadow: 0px 14px 12px -7px #81310c;
  box-shadow: 0px 14px 12px -7px #81310c;
  font-size: 1.5rem; }

main {
  padding-bottom: 3rem;
  position: relative;
  color: white; }

#canvas-basic {
  position: absolute;
  display: block;
  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.notice,
.result-wrapper .flex-wrapper,
.result-wrapper .page-link,
.preference {
  width: 66%;
  margin: 0 auto; }

.preference {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: left; }

.preference .flex-wrapper {
  margin-top: 2rem; }

.preference h2 {
  font-size: 2rem;
  color: #582707; }

label {
  width: 40%;
  position: relative;
  text-align: left;
  font-size: 1.5rem; }
  label::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #993300;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  label::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    width: 28px;
    height: 28px;
    background: white;
    border-radius: 50%;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }

[type="radio"]:checked + label::after {
  opacity: 0.9; }

label::after,
input[type="radio"] {
  opacity: 0; }

input[type="radio"] {
  position: absolute; }

label:hover::after {
  opacity: 0.4; }

label:hover::before,
[type="radio"]:focus + label::before,
[type="radio"]:active + label::before {
  background-color: #f9a03f; }

main button {
  width: 35%;
  margin: 2.6rem auto 3.5rem;
  -webkit-box-shadow: 0px 12px 10px -4px #81310c;
  box-shadow: 0px 12px 10px -4px #81310c;
  font-size: 1.2rem;
  padding: 0.7rem 0.8rem; }

.result-wrapper,
.notice-wrapper {
  padding: 2rem 0;
  background-color: rgba(253, 246, 142, 0.188);
  text-align: center; }

.notice {
  color: #582707;
  font-size: 1.5rem; }

.result-wrapper .flex-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left; }

.recipe-name {
  display: inline-block;
  width: 88%;
  color: #d13e33;
  font-size: 2rem; }

.result-wrapper .image-wrapper {
  width: 27%;
  margin: 1rem auto;
  position: relative;
  overflow: hidden; }

.image-wrapper:hover img {
  opacity: 0.2; }

.image-wrapper:hover .info {
  opacity: 1; }

.image-wrapper:hover .number-info {
  margin-top: 0; }

.image-wrapper:hover .time-info {
  margin-top: 4%; }

.recipe-image img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 5px -2px #582707;
  box-shadow: 0px 2px 5px -2px #582707; }

.image-wrapper .info {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  text-align: center;
  font-size: 1.35rem;
  font-weight: bold;
  color: #582707;
  opacity: 0; }

.info .number-info, .info .time-info {
  display: block;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }

.info .number-info {
  margin-top: -100%; }

.info .time-info {
  margin-top: 199%; }

.cooking-step,
.cooking-step-special {
  line-height: 1.4; }

.result-wrapper .cooking-step {
  width: 45%; }

.result-wrapper .cooking-step-special {
  width: 100%;
  text-align: center; }

.result-wrapper span.method-order {
  display: block;
  width: 70%;
  margin: 0.5rem auto;
  font-size: 1.7rem;
  font-weight: bold;
  color: #582707;
  text-align: center; }

.result-wrapper .page-link {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  padding-top: 1.1rem;
  border-top: 3px solid #d45113;
  font-size: 1.5rem; }

.page-link a {
  text-decoration: none;
  color: #d13e33;
  text-align: left;
  -webkit-transform: all 0.5s;
  -ms-transform: all 0.5s;
  transform: all 0.5s; }
  .page-link a:hover, .page-link a:focus {
    border-bottom: 1px solid #d45113; }

.attribution {
  padding: 0.5rem 0;
  background: #582707;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.05rem; }

footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s; }
  footer a:hover, footer a:focus {
    color: #f9a03f; }

@media (max-width: 1430px) {
  header {
    padding-top: 18%;
    height: 50vw; }
  h1 {
    font-size: 4.5rem; }
  .image-wrapper .info {
    top: 35%; } }

@media (max-width: 1280px) {
  header {
    padding-top: 15%; }
  h1 {
    font-size: 4rem; }
  button.scroll-down {
    margin-top: 1.5rem;
    padding: 0.8rem 0.6rem; }
  .preference,
  .notice,
  .result-wrapper .flex-wrapper,
  .result-wrapper .page-link {
    width: 74%; }
  .preference h2 {
    font-size: 1.7rem; }
  label {
    font-size: 1.32rem; }
    label::before {
      width: 36px;
      height: 36px; }
    label::after {
      width: 24px;
      height: 24px; }
  .notice {
    font-size: 1.25rem; }
  .result-wrapper .image-wrapper {
    width: 24%; }
  .image-wrapper .info {
    top: 30%; } }

@media (max-width: 1130px) {
  header {
    height: 100vh;
    max-height: 800px;
    min-height: 530px;
    background-position: 25% 85%;
    padding-top: 21%; }
  h1 {
    font-size: 3.8rem; } }

@media (max-width: 1000px) {
  header {
    padding-top: 25%; }
  h1 {
    font-size: 3.5rem; }
  button.scroll-down {
    margin-top: 1rem; }
  .preference h2 {
    font-size: 1.45rem; }
  label {
    width: 45%;
    font-size: 1.15rem; }
  .notice span {
    display: inline-block;
    width: 100%; }
  .image-wrapper .info {
    font-size: 1.1rem; } }

@media (max-width: 950px) {
  button.scroll-down {
    padding: 0.6rem 0.3rem;
    font-size: 1.2rem; }
  .preference {
    padding-top: 1.5rem; }
  .result-wrapper .image-wrapper {
    width: 30%; }
  .image-wrapper .info {
    top: 35%; }
  .reset {
    margin-bottom: 1.5rem; } }

@media (max-width: 900px) {
  h1 {
    line-height: 1.2; }
  h1 span {
    display: inline-block;
    width: 80%; }
  button.scroll-down {
    width: 36%; }
  .image-wrapper .info {
    top: 30%; } }

@media (max-width: 780px) {
  .preference .flex-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  label {
    width: 100%;
    margin-bottom: 1.5rem; }
  main button {
    width: 45%; }
  .result-wrapper .image-wrapper {
    width: 40%; }
  .image-wrapper .info {
    font-size: 1.32rem; }
  .result-wrapper .cooking-step {
    width: 100%;
    border-top: 2px dotted #d45113; }
  .result-wrapper span.method-order {
    margin: 1rem auto 0.1rem; } }

@media (max-width: 550px) {
  header {
    max-height: 600px;
    padding-top: 33%; }
  button.scroll-down {
    width: 45%; }
  .result-wrapper .image-wrapper {
    width: 55%; } }

@media (max-width: 450px) {
  header {
    padding-top: 43%; }
  h1 {
    font-size: 3rem; }
  .cooking-step,
  .cooking-step-special {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  button.scroll-down,
  main button {
    width: 55%; }
  .recipe-name {
    font-size: inherit; }
  .result-wrapper .image-wrapper {
    width: 70%; }
  .cooking-step,
  .cooking-step-special {
    line-height: 1.2; }
  .attribution {
    letter-spacing: 0.01rem; } }

@media (max-width: 360px) {
  header {
    padding-top: 50%; }
  button.scroll-down,
  main button {
    width: 65%; }
  .preference,
  .notice,
  .result-wrapper .flex-wrapper,
  .result-wrapper .page-link {
    width: 80%; }
  .image-wrapper .info {
    font-size: 1.1rem; } }
